@model User
@{
    ViewData["Title"] = "User Profile";
}

<h1>Welcome, @Model.FullName. We're glad to have you on board</h1><br />

<h2>Your Username is: @Model.Username</h2><br />

<h3>Your Email is: @Model.Email</h3><br />

<h4>Your phone number is: @Model.PhoneNumber</h4><br />

<h5>Your password is: @Model.Password</h5>