@model Product 
@{
    ViewData["Title"] = $"Product Info";
}

<h2>@Model.productName</h2>

<div>
    <p>Price: @Model.productPrice</p>
    <p>Category: @Model.productCategory</p>
    <p>Description: @Model.productDescription</p>
    <p>@Model.productDescription</p>
</div>